@import "public";
/* 修改public公共样式中的登录注册部分 */
.containers .navbar .right-navbar{
	float:right;
	li{
		float:right;
	}
}
/* 左右布局 */
.maincontainer-box{
	background:#f9f9f9;
}
.maincontainer{
	width:935px;
	height:563px;
	padding-bottom:80px;
	margin:auto;
	.adv{
		height:334px;
		width:450px;
		float:left;
		margin-top:80px;
		padding-right:80px;
		border-right:1px solid #e5e5e5;
		img{
			width:334px;
			height:334px;
		}
	}
	.signup{
		width:332px;
		
		float:left;
		margin-top:40px;
		margin-left:80px;
	}
}
/* 右侧注册表单 */
.signup-title{
	text-align: center;
	font-size:22px;
	margin:10px 0;
}
.signup-body{
	/* padding:0 10px; */
	.form-group{
		width:332px;
		height:40px;
		margin-bottom:12px;
		font-size:14px;
		color:#555;
		input{
			border:1px solid #ccc;
			background:#fff;
			color:#555;
			font-size:14px;
			padding:6px 12px;
			height:40px;
			border-radius: 2px;
		}
		span{
			height:40px;
			width:140px;
			border:1px solid #e5e5e5;
			background:#fff;
			text-align: center;
			line-height:40px;
		}
	}
	
	.form-group:first-child{
		position:relative;
		#nameSpan{
			position:absolute;
			right:-200px;top:0;
			display:none;
		}
	}
	.form-group:nth-child(2){
		position:relative;
		#passSpan1{
			position:absolute;
			right:-200px;top:0;
			display:none;
		}
	}
	.form-group:nth-child(3){
		position:relative;
		#passSpan2{
			position:absolute;
			right:-200px;top:0;
			display:none;
		}
	}
		
}
.signup-form{
	#name,#password,#againPass{
		
		width:332px;
		
		/* box-shadow: inset 0 1px 1px rgba(0,0,0,0.5); */
		
	}
	#code{
		width:75%;
		
		float:left;
		
	}
	#changeCode{
		width:25%;
		
		float:left;
		font-size:12px;
		border:none;
		background:transparent;
	}
	#message{
		width:60%;
		float:left;
	}
	#getMessage{
		width:40%;
		float:left;
		color:#000;
	}
	#registerNow{
		width:332px;
		background:#0186d1;
		text-align: center;
		color:#fff;
	}
	.form-group:nth-child(6){
		height:20px;
		line-height: 20px;
		padding:0 10px;
		input{
			height:13px;
		}
		a{
			color:#999;
		}
	}
	.form-group:last-child{
		text-align: center;
		a{
			color:#177dcc;
		}
	}
} 

